<h2><%= @house.name %></h2>
<h4>Region: <%= @house.region %></h4>
<% @house.seats.each do |seat| %>
  <h4>Seat: <%= link_to seat.name, seat_path(seat) %></h4>
<% end %>
<h4>Coat of Arms: <%= @house.coat_of_arms%></h4>
<h4>House Words: <%= @house.words %></h4>

<h4>Sworn Members: </h4>
<% if @house.characters.empty? %>
  <p>There are no known characters sworn to this house.</p>
<% else %>
  <p>There are <%= @house.characters.size %> characters sworn to this house.</p>
  <% @house.characters.each do |member| %>
    <ul>
      <li>
        <%= link_to member.name, character_path(member)%>
      </li>
    </ul>
  <% end %>
<% end %>

<h4>Titles: </h4>
<% if @house.titles.empty? %>
  <p>There are no known titles assigned to this house.</p>
<% else %>
  <% @house.titles.each do |title| %>
    <ul>
      <li>
        <%= title.name%>
      </li>
    </ul>
  <% end %>
<% end %>