<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <h2 class="title is-3"><%= @house.name %></h2>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <h4 class="title is-6">Region:</h4>
          <p class="subtitle"><%= @house.region %></p>
        </article>
        <article class="tile is-child notification is-primary">
          <h4 class="title is-6">Ancestral Seats:</h4>
          <% @house.seats.each do |seat| %>
            <ul>
              <li><%= link_to seat.name, seat_path(seat) %></li>
            </ul>
          <% end %>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification has-background-grey-light">
        <h4 class="title is-6">Titles: </h4>
        <div class="content">
          <% if @house.titles.empty? %>
            <p>There are no known titles assigned to this house.</p>
          <% else %>
            <% @house.titles.each do |title| %>
              <ul>
                <li>
                  <%= link_to title.name, title_path(title)%>
                </li>
              </ul>
            <% end %>
          <% end %>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <div class="content">
        <h4 class="title is-6">Sworn Members: </h4>
        <div class="content">
          <% if @house.characters.empty? %>
            <p>There are no known characters sworn to this house.</p>
          <% else %>
            <p>There are <%= @house.characters.size %> characters sworn to this house.</p>
            <% @house.characters.each do |member| %>
              <ul>
                <li>
                  <%= link_to member.name, character_path(member)%>
                </li>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
</div>