<h2><%= @character.name %></h2>
<% if !@character.aliases.empty? %>
<h4>Aliases:</h4>
  <% @character.aliases.each do |aka| %>
    <ul>
      <li><%= link_to aka.name, alias_path(aka) %></li>
    </ul>
  <% end %>
<% end %>
<% if @character.born.empty?%>
  <h4>Born: Unknown</h4>
<% else %>
  <h4>Born: <%= @character.born%></h4>
<% end %>
<% if @character.died.empty?%>
  <h4>Died: Unknown</h4>
<% else %>
  <h4>Died: <%= @character.died%></h4>
<% end %>
<% if !@character.titles.empty? %>
  <h4>Titles:</h4>
  <% @character.titles.each do |title|%>
    <ul>
      <li><%=link_to title.name, title_path(title)%></li>
    </ul>
  <% end %>
<% end %>
<% @character.houses.each do |house| %>
  <h4>Allegiances: <%= link_to house.name, house_path(house) %></h4>
<% end %>
<h4>Culture: <%= @character.culture%></h4>
<h4>Quote: <span><i><%=@character.quote%></i></span></h4>
<h4>Kill Count: <%= @character.kill_count%></h4>
