<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>A Song of Ice and Fire</h1>
    </header>
  <p><%= link_to 'Home', root_path %> | <%= link_to 'About', permalink_path('about')%> | <%= link_to 'Characters', characters_path %> | <%= link_to 'Books', books_path %> | <%= link_to 'House & Character Titles', titles_path %> |  <%= link_to 'Seats', seats_path %> | <%= link_to 'Aliases', aliases_path %></p>
    <%= yield %>
  </body>
</html>
