<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-black">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            A Song of Ice and Fire
          </h1>
        </div>
      </div>
    </section>
    <nav class="navbar">
      <a class="navbar-item"><%= link_to 'Home', root_path %></a>
      <a class="navbar-item"><%= link_to 'About', permalink_path('about')%></a>
      <a class="navbar-item"><%= link_to 'Characters', characters_path %></a>
      <a class="navbar-item"><%= link_to 'Books', books_path %></a>
      <a class="navbar-item"><%= link_to 'House & Character Titles', titles_path %></a>
      <a class="navbar-item"><%= link_to 'Seats', seats_path %></a>
      <a class="navbar-item"><%= link_to 'Aliases', aliases_path %></a>
    </nav>
    <section class="section">
      <div class="container">
        <% if current_page?('/') || current_page?('/houses/') || current_page?('/search/')%>
          <%= render partial: 'houses/search_form'%>
        <% end %>
        <% if current_page?('/characters/') || current_page?('/search_char/')%>
          <%= render partial: 'characters/search_form'%>
        <% end %>
        <%= yield %>
      </div>
    </section>
    <footer id="main" class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>A Song of Ice and Fire Rails Project</strong> by Jessica Kleysen. Copywrite 2020.
        </p>
      </div>
    </footer>
  </body>
</html>
